// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
  --ion-background-color: #ffffff;
  --ion-text-color: #000000;
  --ion-color-primary: #3880ff;
  --ion-color-secondary: #0cd1e8;
}

/* optional: force light mode theme for ion-app */
ion-app {
  color-scheme: light !important;
}