<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Delivery Fee Collections</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="py-4">
    <ion-datetime-button datetime="datetime" ></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="datetime" presentation="date" [(ngModel)]="dateFilter" (ngModelChange)="filter()"></ion-datetime>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>
